<%= form_for @attendance, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :monthly_id, :value => @monthly %>
  <fieldset>

    <% if @attendance.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

        <ul>
        <% @attendance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :date, :class => "control-label" %>
      <div class="controls">
        <%= f.date_select :date, :date_separator => ' - ', :use_month_numbers => true %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :in, :class => "control-label" %>
      <div class="controls">
        <%= f.time_select :in, :minute_step => 10 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :out, :class => "control-label" %>
      <div class="controls">
        <%= f.time_select :out, :minute_step => 10 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :note, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :note, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit :class => "btn btn-primary" %>
        <%= link_to 'Cancel', attendances_path(:monthly_id => @monthly), :class => "btn" %>
      </div>
    </div>
  </fieldset>
<% end %>
