<h1>Attendances</h1>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>In</th>
    <th>Out</th>
    <th>Note</th>
    <th>Actions</th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= strf_day(attendance.date) %></td>
    <td><%= strf_time(attendance.in) %></td>
    <td><%= strf_time(attendance.out) %></td>
    <td><%= attendance.note %></td>
    <td>
      <%= link_to 'Edit', edit_attendance_path(attendance), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_attendance_path, :class => 'btn btn-primary' %>
